**/build.xml.log
**/*.retry
**/*.decrypt
**/vagrant.pub
**/build/
/.buildpath
**/composer.phar
.DS_Store
environment.local
**/.idea
**/vendor/
**/node_modules/
/.local.vimrc
.php_cs.cache
/.project
/.settings
*.swp
/.tern-config
/ubuntu-*-console.log
/.vagrant/
yarn-error.log
**/.fake_preview_hash
/paas/integration/build-commons/downloads/
/.yarn-links/
/.env
/playground/
/saas/backstage/var/
/saas/infrastructure/bin/.cache/
.vscode
.tern-port
package.lock
**/tasticSchemaOverwrites/*.json
/.no-plugin-autoinstall
paas/catwalk/src/js/replacedComponents/

# mutagen is used for remote sync
mutagen
mutagen-agents.tar.gz
mutagen.yml
mutagen.yml.lock

# Frontastic-CLI related
frontastic.toml
.frontastic
/frontastic
/frontastic-cli-server-key
frontastic.exe
frontastic-cli-dependencies
/saas/frontastic-cli/dependencies_darwin_amd64/
/saas/frontastic-cli/dependencies_linux_amd64/
/saas/frontastic-cli/dependencies_windows_amd64/
/saas/frontastic-cli/src/go/internal/hostsfile/.hostsfile.uuid
/saas/frontastic-cli/src/go/internal/ssrproxy/test-result-data

# these paths are deprecated, but keep them here until everyone uses /.frontastic
# because they should not accidently be committed
/.traefik.pid
/.hostsfile.uuid
/paas/automation/traefik/remote.toml
/paas/automation/traefik/webpack.toml
/paas/automation/traefik/ssr.toml
/paas/automation/traefik/dashboard.toml
# also deprecated
/frontasticli.toml
/frontasticli
/frontasticli-server-key
/.frontasticli

.envrc
*/pm2.yaml
/.frontastic-update/

.yalc/
yalc.lock
!/saas/project-libraries/extension-commercetools/build

# Do not ignore any .gitkeep files which are there to keep directories
!**/.gitkeep
