zend_extension=xdebug.so
[Xdebug]
xdebug.log=/tmp/xdebug

xdebug.var_display_max_children=256
xdebug.var_display_max_data=2048
xdebug.var_display_max_depth=6

xdebug.mode=debug
;xdebug.mode=trace
;xdebug.mode=profile

xdebug.start_with_request=0

xdebug.discover_client_host=1
xdebug.client_host=127.0.0.1
xdebug.client_port=9003

xdebug.output_dir="/tmp/xdebug_output"

xdebug.dump_globals=on
xdebug.dump.SERVER=REQUEST_URI
xdebug.show_local_vars=on
xdebug.max_nesting_level=1000

