.dynamic-cart {
  &-item {
    &:focus-within &__search {
      display: block;
    }
    &__input {

      &:focus + &__search {
        display: block;
      }

      flex-basis: 100%;
    }
    &__input-wrapper {
        flex-basis: 100%;
        position: relative;
      }
    &__selected-item {
        flex-basis: 100%;
    }
    &__quantity {
        flex-basis: 20%;
        flex-shrink: 1;
        flex-grow: 0;
    }
    &__input-loader {
        position: absolute;
        right: 10px;
        top: 13px;
    }
    &__search {
        width: 99%;
    }
  }
  &__add-to-cart {
    align-self: center;
  }
  &__add-item {
    @apply mt-4 w-full items-center rounded-md border border-transparent px-0 py-2 text-center text-sm font-medium text-black bg-teal-200 shadow-sm transition-colors duration-150 ease-out focus:outline-none focus:ring-2 focus:ring-accent-400 focus:ring-offset-2 disabled:bg-gray-300 sm:w-fit sm:px-24;
    align-self: center;
  }
}
